body {
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    font-family: Helvetica, arial, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1020;
}

/* COMMON */
img {
    width: 100%;
}

.white {
    color: white;
}

.black {
    color: black;
}

.grey {
    color: grey;
}

a {
    text-decoration: none;
}

.radius {
    border-radius: 20px;
}
/* HEADER */

/* HEADER TOP */
.header-top {
    background-color: black;
}

.sony-logo-container {
    width: 100%;
    padding: 5px 0;
    text-align: right;
}

.sony-logo-container img {
    width: 100px;
}
/* END HEADER TOP */

/* HEADER BOTTOM */
.header-bottom {
    background-color: white;
}

.ps-logo-container img {
    width: 70px;
}

/* BURGER */
.burger {
    text-align: right;
    font-size: 30px;
    padding-right: 5px;
}

.burger i {
    border: 1px solid lightgrey;
    padding: 8px 20px;
    border-radius: 5px;
}
/* END BURGER */

/* MENU */
.menu-container {
    width: 100%;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.chevron-down img {
    width: 14px;
}

.btn-accedi {
    display: inline-block;
    padding: 5px 10px;
    background-color: #303030;
    border-radius: 20px;
}

.btn-accedi a {
    color: white;
}

.lens-icon img {
    width: 30px;
}
/* END MENU */
/* END HEADER BOTTOM */
/* END HEADER */


/* MAIN */
/* JUMBOTRON SECTION */
.jumbotron-wrapper.returnal {
    background-image: url('../img/jumbo-bg.png');
    margin-top: 100px;
}

.jumbotron-wrapper.takes {
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
}

.jumbotron-wrapper {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.jumbotron-content.returnal {
    margin-top: 300px;
    margin-bottom: 50px;
}

.jumbotron-content.takes {
    margin-top: 60px;
    margin-bottom: 50px;
}

.returnal-logo,
.takes2-logo,
.ps-plus-logo,
.ps-now-logo {
    margin-bottom: 30px;
}

.returnal-logo img,
.takes2-logo img {
    width: 280px;
}

.section-title,
.section-paragraph,
.section-btn {
    margin-bottom: 30px;
}

.section-title h2 {
    font-size: 40px;
}

/* MEDIA QUERY RETURNAL-IT TAKES TWO LOGO RESPONSIVE */
@media (min-width: 576px) {
    .returnal-logo img,
    .takes2-logo img {
        width: 320px;
    }
}
@media (min-width: 768px) {
    .returnal-logo img,
    .takes2-logo img {
        width: 420px;
    }
}
@media (min-width: 992px) {
    .returnal-logo img,
    .takes2-logo img {
        width: 220px;
    }
}
/* END MEDIA QUERY RETURNAL-IT TAKES TWO LOGO RESPONSIVE */

/* JUMBOTRON CARD SECTION */
.jumbotron-card-wrapper {
    margin: 30px 0;
}

.single-jumbotron-card {
    margin-bottom: 20px;
}

.single-jumbotron-card img,
.card-image img {
    border-radius: 20px;
}
/* END JUMBOTRON CARD SECTION */
/* END JUMBOTRON SECTION */

/* ECCO LA PLAYSTATION 5 SECTION */
.section-subtitle {
    text-transform: uppercase;
    color: #0070d1;
}

.section-subtitle,
.section-heading {
    text-align: center;
}

.p-style {
    color: grey;
    font-size: 20px;
}

/* ACCESSORY */
.accessory-name {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 40px;
}

.single-item-accessory.console {
    border-bottom: 2px solid #0d6efd;
}

/* MEDIA QUERY RESPONSIVE ACCESSORIES IMAGES */
@media (min-width: 768px) {
    .accessory-image {
        width: 50%;
        margin: auto;
    }
}
/* END ACCESSORY */
/* END ECCO LA PLAYSTATION 5 SECTION */

/* NUOVE USCITE SECTION */
.new-releases {
    background-color: #303030;
    padding: 30px 0;
    margin-bottom: 40px;
}

.new-releases-title {
    margin-bottom: 30px;
}

.new-releases-subtitle {
    font-size: 22px;
    margin-bottom: 20px;
}

.single-card-item {
    margin-bottom: 40px;
}
/* END NUOVE USCITE SECTION */


/* ESPLORA PLAYSTATION 4 SECTION */
.explore-single-item {
    margin-top: 30px;
}

.explore-single-item h2 {
    font-size: 30px;
}
/* END ESPLORA PLAYSTATION 4 SECTION */

/* PLAYSTATION PLUS SECTION */
/* PLAYSTATION NOW SECTION */
.playstation-plus {
    background-color: #a6a6a6;
}

.playstation-now {
    background-color: #161c3b;
}

.playstation-plus,
.playstation-now {
    margin-top: 40px;
    margin-bottom: 40px;
}

.ps-plus-logo,
.ps-now-logo {
    padding-top: 35px;
}

.ps-plus-logo img,
.ps-now-logo img {
    width: 280px;
}

.btn_ps-plus {
    background-color: lightgrey;
    color: #0d6efd;
}

.btn_ps-plus:hover {
    color: lightgrey;
    background-color: #0d6efd;
}

/* MEDIA QUERY PLAYSTATION PLUS + PLAYSTATION NOW IMAGE RESPONSIVE */
@media (min-width: 576px) {
    .ps-plus-logo img,
    .ps-now-logo img {
        width: 320px;
    }
}
@media (min-width: 768px) {
    .ps-plus-logo img,
    .ps-now-logo img {
        width: 200px;
    }
}
@media (min-width: 992px) {
    .ps-plus-logo img,
    .ps-now-logo img {
        width: 330px;
    }
}
/* END MEDIA QUERY PLAYSTATION PLUS IMAGE RESPONSIVE */
/* END PLAYSTATION PLUS SECTION */
/* END PLAYSTATION NOW SECTION */

/* SECTION NEW SALES */
.new-sales-single-item {
    margin: 30px 0;
}
/* END SECTION NEW SALES */

/* SOCIAL MEDIA SECTION */
.social-media {
    text-align: center;
}
.social-media-title {
    font-size: 30px;
    margin: 50px 0;
}
/* END SOCIAL MEDIA SECTION */
/* END MAIN */

/* FOOTER */
/* END FOOTER */