body {
    font-family: Arial, sans-serif;
}

header {
    font-family: Helvetica, arial, sans-serif;
}

/* COMMON */
img {
    width: 100%;
}

.white {
    color: white;
}

.black {
    color: black;
}

.grey {
    color: grey;
}

a {
    text-decoration: none;
}

.radius {
    border-radius: 20px;
}
/* HEADER */

/* HEADER TOP */
.header-top {
    background-color: black;
}

.sony-logo-container {
    width: 100%;
    padding: 5px 0;
    text-align: right;
}

.sony-logo-container img {
    width: 100px;
}
/* END HEADER TOP */

/* HEADER BOTTOM */
.header-bottom {

    /* test */
    /* background-color: pink; */
}

.ps-logo-container img {
    width: 70px;
}

/* BURGER */
.burger {
    text-align: right;
    font-size: 30px;
    padding-right: 5px;
}

.burger i {
    border: 1px solid lightgrey;
    padding: 8px 20px;
    border-radius: 5px;
}
/* END BURGER */

/* MENU */
.menu-container {
    width: 100%;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.chevron-down img {
    width: 14px;
}

.btn-accedi {
    display: inline-block;
    padding: 5px 10px;
    background-color: #303030;
    border-radius: 20px;
}

.btn-accedi a {
    color: white;
}

.lens-icon img {
    width: 30px;
}
/* END MENU */
/* END HEADER BOTTOM */
/* END HEADER */


/* MAIN */
/* JUMBOTRON SECTION */
.jumbotron-wrapper.returnal {
    background-image: url('../img/jumbo-bg.png');
}

.jumbotron-wrapper.takes {
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
}

.jumbotron-wrapper {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.jumbotron-content.returnal {
    margin-top: 300px;
    margin-bottom: 50px;
}

.jumbotron-content.takes {
    margin-top: 60px;
    margin-bottom: 50px;
}

.returnal-logo,
.takes2-logo {
    margin-bottom: 30px;
}

.returnal-logo img,
.takes2-logo img {
    width: 280px;
}

.section-title,
.section-paragraph,
.section-btn {
    margin-bottom: 30px;
}

.section-title h2 {
    font-size: 40px;
}

/* MEDIA QUERY RETURNAL LOGO RESPONSIVE */
@media (min-width: 576px) {
    .returnal-logo img {
        width: 320px;
    }
}
@media (min-width: 768px) {
    .returnal-logo img {
        width: 420px;
    }
}
@media (min-width: 992px) {
    .returnal-logo img {
        width: 220px;
    }
}

/* END MEDIA QUERY RETURNAL LOGO RESPONSIVE */
@media (min-width: 576px) {
    .takes2-logo img {
        width: 320px;
    }
}
@media (min-width: 768px) {
    .takes2-logo img {
        width: 420px;
    }
}
@media (min-width: 992px) {
    .takes2-logo img {
        width: 220px;
    }
}
/* MEDIA QUERY IT TAKES TWO LOGO RESPONSIVE */

/* END MEDIA QUERY IT TAKES TWO LOGO RESPONSIVE */
/* JUMBOTRON CARD SECTION */
.jumbotron-card-wrapper {
    margin: 30px 0;
}

.single-jumbotron-card {
    margin-bottom: 20px;
}

.single-jumbotron-card img {
    border-radius: 10px;
}
/* END JUMBOTRON CARD SECTION */
/* END JUMBOTRON SECTION */

/* ECCO LA PLAYSTATION 5 SECTION */
.section-subtitle {
    text-transform: uppercase;
    color: #0070d1;
}

.section-subtitle,
.section-heading {
    text-align: center;
}

.p-style {
    color: grey;
    font-size: 20px;
}

/* ACCESSORY */
.accessory-name {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 40px;
}

.single-item-accessory.console {
    border-bottom: 2px solid #0d6efd;
}

/* MEDIA QUERY RESPONSIVE ACCESSORIES IMAGES */
@media (min-width: 768px) {
    .accessory-image {
        width: 50%;
        margin: auto;
    }
}
/* END ACCESSORY */
/* END ECCO LA PLAYSTATION 5 SECTION */

/* END MAIN */

/* FOOTER */
/* END FOOTER */